
.App {
  text-align: center;
}

.App-header {
  background-color: #525d70;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

select {
  margin-bottom: 20px;
}

textarea {
  width: 50%;
  min-height: 150px;
  border: solid 2px rgb(47, 47, 47);
  padding: 5px;
  margin: 10px;
  font-size: 1em;
}
